@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}



/* shared styles */
.display-flex {
  display: flex;
}

.text-orange {
  color: rgb(255, 139, 19);
}

.text-pink {
  color: rgb(242, 102, 171);
}

.text-purple {
  color: rgb(164, 89, 209);
}

.text-sky-blue {
  color: rgb(44, 211, 225);
}

/* header styles */
.header {}

/* navbar related styles */
.nav-item {
  list-style: none;
  margin-right: 30px;
}

.logo-container {
  align-items: center;

}

.nav-link {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
}

.nav-btn {
  background-color: rgb(164, 89, 209);
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 60px;
  border-radius: 12px;
  border: none;
  margin-top: 6px;
}

.navbar {
  justify-content: space-evenly;
  box-shadow: 0px 4px 4px 0px #000000;
  padding: 20px 0;
  align-items: center;

}


.banner {
  max-width: 1158px;
  margin: 0 auto;
  align-items: center;
  gap: 50px;
}


.banner-info {
  /* max-width: 640px; */

}
.brand-title{
  font-size: 2rem;
  font-weight: 700;
}

.text-color-1 {
  color: rgb(164, 89, 209);
}

.text-color-2 {
  color: rgb(242, 102, 171);
}

.banner-title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 58px;
  /* max-width: 640px; */
}

.banner-description {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 24px;
}

.banner-btn {
  width: 197px;
  background-color: #000000;
  color: white;
  padding: 10px 10px;
  margin-top: 24px;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
}
.banner-image{
  max-width: 100%;
  height: auto;
}

/* responsive media query */

@media screen and (max-width: 576px){
  .navbar,
  .logo-container,
  .nav-links,
  .banner{
    flex-direction: column;
  }
  .nav-links,
  .nav-btn,
  .brand-title{
    display: none;
  }

}
@media screen and (min-width: 392px){
  .nav-icon{
    display: none;
  }
 
 
}